<div class="title container">
    <h3>Contact</h3>
</div>
    
<div class="main container">

    <section class="contact-map">
        <div class="inner">
            <p>Where am I in this world?</p>

            <div id="gmap"></div>
        </div>
    </section>

    <section class="contact-form">
        <div class="inner">
            <div style="display:none" id="thank-you">
                <h4>Got It!</h4>
                <p>Thanks for getting in touch, I'll get back to you soon!</p>
            </div>
            <form method="post" action="/contact/submit">
                <p>Drop me a line!</p>

                <label for="input-name">Name</label>
                <input type="text" id="input-name" name="name" placeholder="What is your name?">
    
                <div class="control-group">
                    <label for="input-email">E-Mail</label>
                    <span class="error-message"></span>
                    <input type="text" id="input-email" name="email" placeholder="So I can get back to you.">
                </div>

                <label for="input-message">Message</label>
                <textarea name="message" id="input-message" placeholder="And your message to me..."></textarea>

                <button type="submit">Send</button>
            </form>
        </div>
    </section>
    
</div>

<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>