<div class="title container"></div>  
  
<div class="main container">

    <section class="bio">
        <div class="inner">
            <img src="img/me.png" alt="">

            <div class="clear">
                <span class="label">Name</span>
                <span class="text">Matt Creager</span>
            </div>

            <div class="clear">
                <span class="label">Age</span>
                <span class="text">29</span>
            </div>

            <div class="clear">
                <span class="label">Location</span>
                <span class="text">Halifax, Nova Scotia</span>
            </div>

            <div class="clear">
                <span class="label">E-Mail</span>
                <span class="text"><a href="mailto:symptom6.com">matt@symptom6.com</a></span>
            </div>

            <div class="clear">
                <span class="label">Phone</span>
                <span class="text">+1 902 719-9232</span>
            </div>

            <div class="clear">
                <span class="label">Freelance</span>
                <span class="text">Available</span>
            </div>
        </div>
    </section>

    <section class="about-me">
        <div class="inner">
            <h3>About Me</h3>

            <p>
                For the last two years, I have been managing technical issues for BlackBerry. If you've got your hands on a Z10 (and I very much hope you have) you're being exposed to our work. We analyze petabytes of data from a wide variety of sources, identify issues &amp; fix them. It's more fun than it sounds.
            </p>

            <p>
                I'm a technology professional and I've got the bruises to prove it: I represented Microsoft in Eastern Canada during the release of Windows Vista in 2006, managed one of Future Shops most successful sales teams through the recession in 2008 &amp; have seen BlackBerry through to the launch of its new QNX based platform.
            </p>

            <p>I belong in the technology industry because:</p>

            <ul>
                <li>Challenges don't intimidate me, they motivate me</li>
                <li>I don't care who gets the credit, as long as we win</li>
                <li>I'm persistent and persistence is the key to execution. Execution is what matters</li>
                <li>I'm the resourceful one</li>
                <li>I have been writing code since I was twelve and its still the love of my professional life</li>
            </ul>

            <p>
                I'm always open to a discussion about technology, business or superman. It's easiest to reach me on <a href="https://twitter.com/SymptomSix">Twitter</a> (@symptom6).
            </p>

            <h3>Let's socialize!</h3>

            <ul class="social-links clear">
                <li class="facebook">
                    <a href="https://www.facebook.com/matthew.creager" title="Facebook">X</a>
                </li>

                <li class="twitter">
                    <a href="https://twitter.com/SymptomSix" title="Twitter">_</a>
                </li>

                <li class="linkedin">
                    <a href="http://www.linkedin.com/in/matthewcreager" title="LinkedIn">v</a>
                </li>

                <li class="pinterest">
                    <a href="http://pinterest.com/symptom6/pins/" title="Pinterest">/</a>
                </li>

                <li class="github">
                    <a href="https://github.com/slukehart" title="GitHub">j</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="my-tweets">
        <div class="inner">
            <h3>Tweets</h3>

                <a class="twitter-timeline" href="https://twitter.com/SymptomSix" data-widget-id="306420044466884610">Tweets by @SymptomSix</a>
        </div>
    </section>

</div>