/*
                   .<@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@>.
                .<@@@@@@   $$$$$$$$$$$$$$$$$$$$$\^^^^^^/$$$$@@@>.
             .<@@@@@<   .$$$$$'~       '~'$$$$$$$\  /$$$$$$>@@@@@>.
          .<@@@@@<'   o$$$$$$                `'$$$$$$$$$$$$  '>@@@@@>.
       .<@@@@@<'    o$$$$$$oo.                  )$$$$$$$$$$     '>@@@@@>.
       '<@@@@@<    o$$$$$$$$$$$.                                 >@@@@@>'
         '<@@@@<  o$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$oooooo...    >@@@@>'
           '@@@@< $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$)>@@@@>'
             '<@@@@$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$@@@@>'
               '<@@@@$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$@@@@>'
                 '<@@@@<    .oooo.                    .$$@@@@>'
                   '<@@@@oo$$$$$$$o..             ..o$$@@@@>'
                     '<@@@@$$$$$$$$$$$$$oooooooo$$$$$@@@@>'
                       '<@@@@'$$$$$$$$$$$$$$$$$$$$$@@@@>'
                         '<@@@@<   ~"SSSSSS"~   >@@@@>'
                           '<@@@@<            >@@@@>'
                             '<@@@@<        >@@@@>'
                               '<@@@@<    >@@@@>'
                                 '<@@@@<>@@@@>'
                                   '<@@@@@@>'
                                     '<@@>'
                                       ^^
*/

/* ==========================================================================
   Web Fonts
   ========================================================================== */

@font-face { font-family: 'JustVector'; font-weight: normal; font-style: normal;
    src: url('../fonts/justvector/justvector-webfont.eot');
    src: url('../fonts/justvector/justvector-webfont.eot?#iefix') format('eot'),
         url('../fonts/justvector/justvector-webfont.woff') format('woff'),
         url('../fonts/justvector/justvector-webfont.ttf') format('truetype'),
         url('../fonts/justvector/justvector-webfont.svg#webfontmuk63VQd') format('svg');
}

/* ==========================================================================
   CSS Clear Fix
   ========================================================================== */

.clear:before,
.clear:after,
.container:before,
.container:after {
    content: "";
    display: table;
}

.clear:after,
.container:after {
    clear: both;
}

.clear,
.container {
    zoom: 1;
}

/* ==========================================================================
   General Element Styles/Layout Styles
   ========================================================================== */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    color: #272822;
    background: #fffbf4;
    padding-top: 40px;
    font: 20px/25px 'Vollkorn', Georgia, Times, serif;
}

a {
    color: #f92672;
    text-decoration: none;
}

a:hover {
    background: #f92672;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin: 0;
}

h1, h1 a {
    color: #272822;
    font-size: 36px;
    padding-top: 26px;
}

h1 a:hover {
    background: none;
    color: #F92672;
}

h2 {
    color: rgba(39, 40, 34, 0.35);
    font-size: 22px;
}

h3 {
    font: 20px/25px 'Vollkorn', Georgia, Times, serif;
    font-weight: bold;
    margin: 10px 0 15px;
}

h4 {
    font: 20px/25px 'Vollkorn', Georgia, Times, serif;
    font-weight: normal;
    margin: 10px 0 15px;
}

/* Header/Logo/Tagline
*************************************************/
header {
    background: url('../img/logo.png') no-repeat;
    padding-left: 140px;
    min-height: 120px;
    position: relative;
}

header .var {
    color: #66D9EF;
}

header .operator {
    color: #F92672;
}

header .string {
    color: #FD971F;
}

/* Navigation
*************************************************/
header nav {
    position: absolute;
    right: 0;
    top: 50px;
    width: 400px;
}

header nav ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
}

header nav li a {
    display: inline-block;
    padding: 8px 15px 6px;
    margin: 0 0 0 10px;
    text-decoration: none;
    line-height: 28px;
    font-size: 20px;
    color: #272822;
}

header nav .active a,
header nav li a:hover {
    background: #A6E22E;
    color: #272822;
}

/* Main Layout
*************************************************/
.title {
    margin-top: 40px;
}

.main {
    padding-bottom: 50px;
}

.main > section {
    float: left;
    width: 25%;
}

.main > section > .inner {
    padding: 0 30px;
}

.main section:first-child > .inner {
    padding-left: 0;
}

.main section:last-child > .inner {
    padding-right: 0;
}

.main h3,
.title h3 {
    line-height: 30px;
    font-size: 24px;
    background: #66D9EF;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    border-top: 1px solid rgba(0,0,0,.1);
    position: relative;
}

.main h3:after,
.title h3:after {
    border-left-color: #66D9EF;
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 0;
    border-left-width: 0.5em;
    border-left-style: solid;
    border-bottom: 0.5em solid transparent;
}

.main h4 {
    color: #fff;
    background: #272822;
    line-height: 24px;
    padding: 5px 6px;
    display: inline-block;
    margin-bottom: 40px;
}

/* Footer
*************************************************/
footer {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 20px 0 15px;
}

footer aside {
    width: 50%;
    float: right;
    text-align: right;
}

/* ==========================================================================
   Page: Home
   ========================================================================== */

/* Short Bio
*************************************************/
section.bio {
    width: 340px;
}

.bio img {
    width: 85%;
    display: block;
    margin: auto;
}

.bio .label {
    line-height: 24px;
    background: #66D9EF;
    padding: 2px 6px 0;
    margin-left: 10px;
}

.bio .text {
    padding-left: 10px;
    padding-top: 2px;
}

.bio .inner > div {
    padding-bottom: 10px;
    clear: both;
}

/* About Me Section
*************************************************/
section.about-me {
    width: 613px;
}

/* Social Media Links
*************************************************/
.social-links {
    padding: 0;
    margin: 25px 0 0;
}

.social-links li {
    float: left;
    display: block;
    list-style: none;
}

.social-links a {
    width: 52px;
    height: 52px;
    background: #eee;
    background-color: rgba(0,0,0,.1);
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 6px 6px 0;
    line-height: 55px;
    font-family: "JustVector";
    font-size: 42px;
    text-decoration: none;
    color: #333;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social-links a:hover {
    color: #fff;
}

.social-links .facebook a:hover {
    background-color: #3c5fac;
}

.social-links .linkedin a:hover {
    background-color: #2089b5;
}

.social-links .twitter a:hover {
    background-color: #5ec3df;
}

.social-links .pinterest a:hover {
    background-color: #cb2027;
}

.social-links .github a:hover {
    background-color: #2D2D2D;
}

/* Twitter Feed
*************************************************/
section.my-tweets {
    width: 245px;
    overflow: hidden;
}

section.my-tweets h3 {
    margin-bottom: 30px;
}

section.my-tweets iframe {
    width: 99%!important;
    min-width: 100px!important;
}

.tweets {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}

.tweets dt {
    padding: 0 10px;
    margin-bottom: 20px;
}

.tweets dd {
    background: #ccc;
    line-height: 24px;
    padding: 0 15px;
    margin: 0 0 20px;
}

/* ==========================================================================
   Page: Resume
   ========================================================================== */


/* Resume: Employment History/Education Section
*************************************************/
section.resume-body {
    width: 712px;
}

.resume-body .job {
    font-size: 18px;
    border-left: 1px solid #FD971F;
    padding: 10px 0 1px 20px;
    margin-bottom: 35px;
}

.resume-body .job h4 {
    font-size: 20px;
    background: none;
    color: #272822;
    padding: 0;
    margin: 0 0 0;
}

.resume-body .job h5 {
    padding-top: 3px;
    font-size: 18px;
    border-left: 40px solid #CFCFCF;
    line-height: 17px;
    color: #ACACAC;
    font-weight: normal;
    margin: 0 0 0;
    padding: 0 0 0 5px;
}

.resume-body .job .when {
    color: #ccc;
    float: right;
    margin-top: 0px;
}

/* Resume: Skills Section
*************************************************/
section.resume-skills {
    width: 488px;
}

.resume-skills .skill {
    border-left: 1px solid #FD971F;
    padding: 1px 0 1px 20px;
    margin-bottom: 25px;
}

.resume-skills .skill h4 {
    font-size: 20px;
    background: none;
    color: #272822;
    padding: 0;
    margin: 0 0 0;
}

.resume-skills .skill .bar {
    background: #EBEBEB;
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 2px;
    overflow: hidden;
}

.resume-skills .skill .progress {
    background: #FD971F;
    height: 20px;
}

/* ==========================================================================
   Page: Contact
   ========================================================================== */

/* Google Map
*************************************************/
section.contact-map {
    width: 815px;
}

#gmap {
    width: 100%;
    outline: none;
    height: 460px;
    border: none;
}

/* Contact Form
*************************************************/
section.contact-form {
    width: 385px;
}

.contact-form label {
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #66D9EF;
    color: #222;
    display: inline-block;
    padding: 2px 8px;
    position: relative;
    font-size: 90%;
    cursor: pointer;
    font-size: 16px;
}

.contact-form label:after {
    border-left-color: #66D9EF;
    content: "";
    position: absolute;
    top: 0;
    right: -0.5em;
    bottom: -0.5em;
    left: 0;
    border-left-width: 0.5em;
    border-left-style: solid;
    border-bottom: 0.5em solid transparent;
}

.contact-form button {
    margin-top: 20px;
    background: #66D9EF;
    display: inline-block;
    outline: 0;
    border: 0;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: transparent;
    padding: 10px 40px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form button:hover {
    border-color: #272822;
}

.contact-form input {
    margin-bottom: 14px;
}

.contact-form textarea {
    font-size: 16px;
    height: 200px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 327px;
    padding: 10px 14px;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #EAEAEA;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: transparent;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: none;
    border-bottom: 2px solid #66D9EF;
}

/* ==========================================================================
   Responsive Styles
   ========================================================================== */

/* CSS3 Responsive Media Queries for < 1200px
*************************************************/
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    section.bio {
        width: 240px;
    }

    section.bio .text {
        display: block;
        padding: 5px 0 5px 10px;
    }

    section.about-me {
        width: 510px;
    }

    section.my-tweets {
        width: 210px;
    }

    section.resume-body {
        width: 560px;
    }

    section.resume-skills {
        width: 400px;
    }

    section.contact-map {
        width: 560px;
    }

    section.contact-form {
        width: 400px;
    }
}

/* CSS3 Responsive Media Queries for < 960px
*************************************************/
@media (max-width: 960px) {
    .container {
        max-width: 720px;
    }

    section.bio {
        width: 240px;
    }

    section.bio .text {
        display: block;
        padding: 5px 0 5px 10px;
    }

    section.about-me {
        width: 480px;
    }

    section.about-me > .inner {
        padding-right: 0;
    }

    section.my-tweets {
        display: none;
    }

    header nav {
        position: static;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px -140px 0 0;
    }

    header nav ul {
        text-align: center;
    }

    header nav li, header nav li a {
        display: inline-block;
        float: none;
        margin: 0;
    }

    section.resume-body,
    section.resume-skills,
    section.contact-map,
    section.contact-form {
        width: auto;
        padding: 0;
        float: none;
    }

    section.resume-body > .inner,
    section.resume-skills > .inner,
    section.contact-map > .inner,
    section.contact-form > .inner  {
        padding: 0;
    }
}

/* CSS3 Responsive Media Queries for < 720px
*************************************************/
@media (max-width: 720px) {
    body {
        padding-top: 10px;
    }

    header {
        background-position: top center;
        padding: 100px 0 0 0;
        text-align: center;
    }

    header h1 {
        padding-bottom: 10px;
    }

    header h2 .unneeded {
        display: none;
    }

    header nav {
        margin-left: 0;
    }

    .container {
        max-width: 100%;
    }

    .container section {
        width: auto;
        float: none;
        border-bottom: 1px solid #f92672;
        padding: 20px 20px;
    }

    .container section > .inner {
        padding-left: 0;
        padding-right: 0;
    }

    section.bio {
        margin-top: -60px;
    }

    section.bio .label {
        margin-left: 0;
    }

    section.bio .text {
        display: inline;
        padding: 5px 0 5px 10px;
    }

    .bio img {
        max-width: 280px;
    }

    footer {
        text-align: center;
    }

    footer aside {
        padding-top: 10px;
        float: none;
        text-align: center;
        width: 100%;
    }
}
